<!DOCTYPE html>
<html lang="fr" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Home</title>
  </head>
  <body>
    <div class="hero-image">
      <div class="hero-text">
        <h1>Welcome on ShittyKebab!!</h1>
        <p>Please click on the Order button to.... actually order some awesome food!</p>
        <button class="btn">order</button>
      </div>
    </div>

    <div class="tabs">
      <ul id="tabs-nav">
        <li><a href="#tab1">Présentation</a></li>
        <li><a href="#tab2">Menu</a></li>
        <li><a href="#tab3">Surprise</a></li>
      </ul> <!-- END tabs-nav -->

      <div id="tabs-content">
        <div id="tab1" class="tab-content">
          <h2>Presentation</h2>
          <p>Proin sed diam non quam tincidunt efficitur nec pharetra nisl. Interdum et malesuada fames ac ante ipsum primis in faucibus. Curabitur gravida arcu vel risus consequat bibendum. Sed lorem magna, semper sollicitudin luctus ut, feugiat id nisl. Sed purus nibh, varius vitae pretium vitae, molestie non urna. Cras id fringilla ligula. Sed dapibus suscipit arcu id pulvinar. Sed mattis commodo lobortis.</p>
        </div>
        <div id="tab2" class="tab-content">
          <h2>Menu</h2>
          <p>Vivamus in odio vel est tempus auctor. Nam a mollis tellus. Suspendisse quis felis neque. Etiam lobortis lacus eu risus hendrerit, at pretium risus condimentum. Praesent cursus consequat placerat. Proin id lacinia erat. Cras et sem eu est commodo ornare. Etiam ut lacus a lacus rhoncus sollicitudin id non nibh.</p>
        </div>
        <div id="tab3" class="tab-content">
          <h2>Surprise</h2>
          <p>Quisque blandit nunc eget rutrum suscipit. Curabitur ac arcu efficitur, bibendum sapien eget, euismod ligula. Donec semper lacus eros, in ultricies neque convallis in. Vivamus volutpat egestas tristique. Phasellus malesuada ex nunc, vitae tempus enim euismod sit amet. Suspendisse eu pharetra ex. Vestibulum blandit iaculis mi, nec aliquam felis malesuada et. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Suspendisse potenti. Nam vitae ante vitae sem blandit pharetra. Vestibulum hendrerit sapien metus, et convallis turpis rhoncus non.</p>
        </div>
      </div>
    </div>

    <script src="//code.jquery.com/jquery-1.12.0.min.js"></script>

    <script>
      // Show the first tab and hide the rest
      $('#tabs-nav li:first-child').addClass('active');
      $('.tab-content').hide();
      $('.tab-content:first').show();

      // Click function
      $('#tabs-nav li').click(function(){
        $('#tabs-nav li').removeClass('active');
        $(this).addClass('active');
        $('.tab-content').hide();

        var activeTab = $(this).find('a').attr('href');
        $(activeTab).fadeIn();
        return false;
      });
    </script>

    <div class="slideshow">
    	<ul>
    		<li> <%= image_tag("kebab3.jpg") %> </li>
    		<li> <%= image_tag("kebab2.jpg") %> </li>
    		<li> <%= image_tag("kebab3.jpg") %> </li> -->
    	</ul>
    </div>

    <script>
      $(function(){
      setInterval(function(){
         $(".slideshow ul").animate({marginLeft:-1500},800,function(){
        $(this).css({marginLeft:0}).find("li:last").after($(this).find("li:first"));
         })
      }, 5000);
    });
    </script>
  </body>
</html>
