<!DOCTYPE html>
<html lang="fr" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Home</title>
  </head>
  <body>
    <div class="hero-image">
      <div class="hero-text">
        <h1>Welcome on ShittyCSS!!</h1>
        <p>Please click on the shitty button to.... actually do shitty stuff</p>
        <button class="btn">SHIT</button>
      </div>
    </div>

    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec enim neque, dignissim quis turpis quis, tempor elementum mauris. Quisque id finibus tortor. Mauris consequat feugiat est, non egestas nibh. Duis et ullamcorper dolor. In vel elit nunc. Morbi et tortor condimentum, blandit leo volutpat, aliquam mi. Donec ornare massa a nunc tempus lobortis. Donec ligula risus, gravida id purus vel, blandit lacinia mi. Duis gravida tincidunt eros quis blandit. Aliquam erat volutpat. Proin rutrum, augue at faucibus gravida, quam lorem suscipit nulla, id mollis nisl erat a magna. Maecenas vitae blandit ex. Ut at maximus libero, ac lacinia sem. Aliquam a dui felis.

      Ut sit amet posuere erat. Suspendisse feugiat velit nec justo sollicitudin semper. Phasellus purus odio, luctus eu lectus in, condimentum elementum sem. Interdum et malesuada fames ac ante ipsum primis in faucibus. Vestibulum elementum nisl nec egestas congue. Cras elit ante, facilisis vitae scelerisque quis, semper et metus. Quisque rhoncus porttitor nunc. Aliquam ac sem nibh. In tristique, metus nec scelerisque pharetra, purus ipsum laoreet mauris, sed rutrum lacus diam et ipsum. Fusce ut mattis turpis. Nulla elementum, massa vitae pulvinar sollicitudin, lacus felis placerat quam, vel aliquam justo sapien sit amet augue. Nunc pretium sem et velit rutrum mattis. Duis posuere augue quis vehicula dapibus.

      Suspendisse vestibulum neque vel est maximus mollis. Curabitur id venenatis eros. Suspendisse condimentum est risus, sed mollis nunc mollis sed. Fusce eu neque leo. Morbi nec efficitur augue, ut viverra nisi. Mauris feugiat, turpis eu lobortis placerat, erat ligula venenatis lacus, quis iaculis sapien ex in sem. Nulla fringilla posuere hendrerit. Vestibulum et massa bibendum, sodales est quis, molestie sapien. Integer consequat velit sit amet sapien pharetra pharetra. Fusce sagittis, metus vel pellentesque fringilla, quam turpis consectetur velit, eget gravida elit turpis vitae enim. Donec sagittis, erat ut pulvinar aliquet, quam risus semper ligula, non dictum arcu est in purus.

      Praesent euismod in quam quis egestas. Donec iaculis dapibus massa, nec blandit ex. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla ultricies est turpis, ut bibendum est laoreet vel. Mauris ultricies lorem varius ligula efficitur hendrerit. Phasellus arcu ante, volutpat at nisi ut, tincidunt varius ex. Cras aliquam rutrum velit, vitae finibus nibh. Nullam quis nisi ut nisl dictum dignissim at eget lacus. Vestibulum nec nisl ac dolor condimentum vulputate quis fermentum lacus. Nam ut mi varius est suscipit feugiat. Pellentesque nec auctor nisi. Curabitur sed sagittis velit.
    </p>

</html>
