<!DOCTYPE html>
<html lang="fr" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <header class="header-landing">
      <nav class="navbar-left">
        <div class="container">
          <ul class="nav-items">
            <li id="logo"><%=link_to "ShittyKebab", '/'%></li>
            <li><%=link_to "Help", '/help'%></li>
            <li><%=link_to "About", '/about'%></li>
          </ul>
        </div>
      </nav>
    </header>
  </body>
</html>
